In [1]:
from pymongo import MongoClient

client=MongoClient()

client=MongoClient('mongodb://localhost:27017/')

mydatabase=client['Students']
collection = mydatabase["StudentScore"]

data=[
    {'Name':'Dipayan','Subject':'Machine Learning' , 'Score':87},
    {'Name':'Avik','Subject':'Java' , 'Score':87},
    {'Name':'Sudhir','Subject':'DMBS' , 'Score':87},
    {'Name':'Rithik','Subject':'Node JS' , 'Score':87},
    {'Name':'Arya','Subject':'JavaScript' , 'Score':87},
]

collection.insert_many(data)

InsertManyResult([ObjectId('65a3cf3c673e8d10a073ae0c'), ObjectId('65a3cf3c673e8d10a073ae0d'), ObjectId('65a3cf3c673e8d10a073ae0e'), ObjectId('65a3cf3c673e8d10a073ae0f'), ObjectId('65a3cf3c673e8d10a073ae10')], acknowledged=True)

In [2]:
def updatescore(Name,scr):
    collection.update_one(
        {'Name' : Name},
        {'$set':{'Score' : scr},
         '$currentDate':{'lastmodified':True}}
    )

In [3]:
updatescore('Avik',78)
updatescore('Sudhir',81)
updatescore('Rithik',90)
updatescore('Arya',56)

In [6]:
# find the total subject by the user
agg_result=collection.aggregate(
    [
        {
            '$group' :
                {
                    '_id' : '$Name',
                    'subject' : {'$sum' : 1}
                }
        }
    ]
)

for i in agg_result:
    print(i)

{'_id': 'Dipayan', 'subject': 1}
{'_id': 'Rithik', 'subject': 1}
{'_id': 'Arya', 'subject': 1}
{'_id': 'Avik', 'subject': 1}
{'_id': 'Sudhir', 'subject': 1}

In [7]:
data=[
    
    {'Name':'Dipayan','Subject':'Java' , 'Score':88},
    {'Name':'Dipayan','Subject':'DMBS' , 'Score':81},
    {'Name':'Dipayan','Subject':'Node JS' , 'Score':78},
    {'Name':'Dipayan','Subject':'JavaScript' , 'Score':65},
    {'Name':'Avik','Subject':'Machine Learning' , 'Score':77},
    {'Name':'Avik','Subject':'DMBS' , 'Score':98},
    {'Name':'Avik','Subject':'Node JS' , 'Score':59},
    {'Name':'Avik','Subject':'JavaScript' , 'Score':54},
    {'Name':'Sudhir','Subject':'Machine Learning' , 'Score':78},
    {'Name':'Sudhir','Subject':'Java' , 'Score':74},
    {'Name':'Sudhir','Subject':'Node JS' , 'Score':90},
    {'Name':'Sudhir','Subject':'JavaScript' , 'Score':87},
    {'Name':'Rithik','Subject':'Machine Learning' , 'Score':98},
    {'Name':'Rithik','Subject':'Java' , 'Score':65},
    {'Name':'Rithik','Subject':'DMBS' , 'Score':72},
    
    {'Name':'Rithik','Subject':'JavaScript' , 'Score':77},
    {'Name':'Arya','Subject':'Machine Learning' , 'Score':90},
    {'Name':'Arya','Subject':'Java' , 'Score':89},
    {'Name':'Arya','Subject':'DMBS' , 'Score':56},
    {'Name':'Arya','Subject':'Node JS' , 'Score':78},
    
]

collection.insert_many(data)

InsertManyResult([ObjectId('65a3d481673e8d10a073ae11'), ObjectId('65a3d481673e8d10a073ae12'), ObjectId('65a3d481673e8d10a073ae13'), ObjectId('65a3d481673e8d10a073ae14'), ObjectId('65a3d481673e8d10a073ae15'), ObjectId('65a3d481673e8d10a073ae16'), ObjectId('65a3d481673e8d10a073ae17'), ObjectId('65a3d481673e8d10a073ae18'), ObjectId('65a3d481673e8d10a073ae19'), ObjectId('65a3d481673e8d10a073ae1a'), ObjectId('65a3d481673e8d10a073ae1b'), ObjectId('65a3d481673e8d10a073ae1c'), ObjectId('65a3d481673e8d10a073ae1d'), ObjectId('65a3d481673e8d10a073ae1e'), ObjectId('65a3d481673e8d10a073ae1f'), ObjectId('65a3d481673e8d10a073ae20'), ObjectId('65a3d481673e8d10a073ae21'), ObjectId('65a3d481673e8d10a073ae22'), ObjectId('65a3d481673e8d10a073ae23'), ObjectId('65a3d481673e8d10a073ae24')], acknowledged=True)

In [8]:
data=[
    {'Name':'Rithik','Subject':'JavaScript' , 'Score':77},
    {'Name':'Arya','Subject':'Machine Learning' , 'Score':90},
    {'Name':'Arya','Subject':'Java' , 'Score':89},
    {'Name':'Arya','Subject':'DMBS' , 'Score':56},
    {'Name':'Arya','Subject':'Node JS' , 'Score':78},
]

collection.insert_many(data)

InsertManyResult([ObjectId('65a3d4ce673e8d10a073ae25'), ObjectId('65a3d4ce673e8d10a073ae26'), ObjectId('65a3d4ce673e8d10a073ae27'), ObjectId('65a3d4ce673e8d10a073ae28'), ObjectId('65a3d4ce673e8d10a073ae29')], acknowledged=True)

In [11]:
agg_result=collection.aggregate(
    [
        {
            '$group':
            {
                "_id":'$Name',
                'Total Record' : {'$sum' : 1}
            }
        }
    ]
)

for i in agg_result:
    print(i)

{'_id': 'Dipayan', 'Total Record': 5}
{'_id': 'Rithik', 'Total Record': 6}
{'_id': 'Arya', 'Total Record': 9}
{'_id': 'Avik', 'Total Record': 5}
{'_id': 'Sudhir', 'Total Record': 5}

In [12]:
score_agg=collection.aggregate([
    {
        '$group':
        {
            '_id':'$Name',
            'Total score' : {'$sum' : '$Score'}
        }
    }
])

for i in score_agg:
    print(i)

{'_id': 'Dipayan', 'Total score': 399}
{'_id': 'Rithik', 'Total score': 479}
{'_id': 'Arya', 'Total score': 682}
{'_id': 'Sudhir', 'Total score': 410}
{'_id': 'Avik', 'Total score': 366}

In [14]:
avg_score_aggg=collection.aggregate([
    {
        '$group':
        {
            '_id':'$Name',
            'StudentScoreAverage':{'$avg' : '$Score'}
        }
    }
])

for i in avg_score_aggg:
    print(i)

{'_id': 'Sudhir', 'StudentScoreAverage': 82.0}
{'_id': 'Rithik', 'StudentScoreAverage': 79.83333333333333}
{'_id': 'Arya', 'StudentScoreAverage': 75.77777777777777}
{'_id': 'Dipayan', 'StudentScoreAverage': 79.8}
{'_id': 'Avik', 'StudentScoreAverage': 73.2}

In [15]:
# create a new collection in the database
import datetime

record=[
    {'_id':1,'item':'abc','price':10,'quantity':2,'date':datetime.datetime.utcnow()},
    {'_id':2,'item':'def','price':5,'quantity':10,'date':datetime.datetime.utcnow()},
    {'_id':3,'item':'ghk','price':15,'quantity':5,'date':datetime.datetime.utcnow()},
    {'_id':4,'item':'imn','price':20,'quantity':3,'date':datetime.datetime.utcnow()},
    {'_id':5,'item':'opq','price':25,'quantity':4,'date':datetime.datetime.utcnow()},
]

In [16]:
record

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2024, 1, 14, 12, 49, 46, 668528)},
 {'_id': 2,
  'item': 'def',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2024, 1, 14, 12, 49, 46, 668528)},
 {'_id': 3,
  'item': 'ghk',
  'price': 15,
  'quantity': 5,
  'date': datetime.datetime(2024, 1, 14, 12, 49, 46, 668528)},
 {'_id': 4,
  'item': 'imn',
  'price': 20,
  'quantity': 3,
  'date': datetime.datetime(2024, 1, 14, 12, 49, 46, 668528)},
 {'_id': 5,
  'item': 'opq',
  'price': 25,
  'quantity': 4,
  'date': datetime.datetime(2024, 1, 14, 12, 49, 46, 668528)}]

In [17]:
mycollection=mydatabase['store']
mycollection.insert_many(record)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [18]:
record=[
    {'_id':6,'item':'abc','price':5,'quantity':2,'date':datetime.datetime.utcnow()},
    {'_id':7,'item':'def','price':5,'quantity':10,'date':datetime.datetime.utcnow()},
    {'_id':8,'item':'ghk','price':20,'quantity':5,'date':datetime.datetime.utcnow()},
    {'_id':9,'item':'imn','price':15,'quantity':5,'date':datetime.datetime.utcnow()},
    {'_id':10,'item':'opq','price':10,'quantity':10,'date':datetime.datetime.utcnow()},
    {'_id':11,'item':'abc','price':20,'quantity':2,'date':datetime.datetime.utcnow()},
    {'_id':12,'item':'def','price':5,'quantity':10,'date':datetime.datetime.utcnow()},
    {'_id':13,'item':'ghk','price':5,'quantity':5,'date':datetime.datetime.utcnow()},
    {'_id':14,'item':'imn','price':25,'quantity':5,'date':datetime.datetime.utcnow()},
    {'_id':15,'item':'opq','price':25,'quantity':4,'date':datetime.datetime.utcnow()},
]

mycollection.insert_many(record)

InsertManyResult([6, 7, 8, 9, 10, 11, 12, 13, 14, 15], acknowledged=True)

In [20]:
store_agg=mycollection.aggregate([
    {
        '$group':
        {
            '_id':'$item',
            'avgAmount' : { '$avg' : { '$multiply' : [ '$price','$quantity']}},
            'avgQuantity' : { '$avg' : '$quantity'}
        }
    }
])

for i in store_agg:
    print(i)

{'_id': 'ghk', 'avgAmount': 66.66666666666667, 'avgQuantity': 5.0}
{'_id': 'opq', 'avgAmount': 100.0, 'avgQuantity': 6.0}
{'_id': 'imn', 'avgAmount': 86.66666666666667, 'avgQuantity': 4.333333333333333}
{'_id': 'abc', 'avgAmount': 23.333333333333332, 'avgQuantity': 2.0}
{'_id': 'def', 'avgAmount': 50.0, 'avgQuantity': 10.0}