In [2]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.EmployeeInformation

In [3]:
# insert one recored in the MongoDB database

record={
    'FirstName':'Dipayan',
    'LastName':'Majumder',
    'Qualification':'B.Tech',
    'age':20
}

empinfo.insert_one(record)

InsertOneResult(ObjectId('659e9e7bf2505e760242cf54'), acknowledged=True)

In [4]:
# insert many record in the mongodb database

record=[{
            'FirstName':'Subrata',
            'LastName':'Kundu',
            'Qualification':'B.Tech',
            'age':20
        },
        {
            'FirstName':'Saikat',
            'LastName':'Rakshit',
            'Qualification':'BBA',
            'age':20
        },
        {
            'FirstName':'Titiksha',
            'LastName':'Das',
            'Qualification':'B.Com',
            'age':20
        }]

empinfo.insert_many(record)

InsertManyResult([ObjectId('659e9f89f2505e760242cf55'), ObjectId('659e9f89f2505e760242cf56'), ObjectId('659e9f89f2505e760242cf57')], acknowledged=True)

In [5]:
# simple query
empinfo.find_one()

{'_id': ObjectId('659e9e7bf2505e760242cf54'),
 'FirstName': 'Dipayan',
 'LastName': 'Majumder',
 'Qualification': 'B.Tech',
 'age': 20}

In [6]:
# similar to "select * from EmployeeInformation"
empinfo.find()

In [8]:
for record in empinfo.find():
    print(record)

{'_id': ObjectId('659e9e7bf2505e760242cf54'), 'FirstName': 'Dipayan', 'LastName': 'Majumder', 'Qualification': 'B.Tech', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf55'), 'FirstName': 'Subrata', 'LastName': 'Kundu', 'Qualification': 'B.Tech', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf56'), 'FirstName': 'Saikat', 'LastName': 'Rakshit', 'Qualification': 'BBA', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf57'), 'FirstName': 'Titiksha', 'LastName': 'Das', 'Qualification': 'B.Com', 'age': 20}

In [9]:
# Query the json document based on the qualification
# Select * from Employeeinfomation FirstName=Dipayan

for record in empinfo.find({'FirstName':'Dipayan'}):
    print(record)

{'_id': ObjectId('659e9e7bf2505e760242cf54'), 'FirstName': 'Dipayan', 'LastName': 'Majumder', 'Qualification': 'B.Tech', 'age': 20}

In [12]:
## Query document using query operator ($in , $lt , $gt)
for record in empinfo.find({'Qualification':{'$in':['BBA','B.Com']}}):
    print(record)

{'_id': ObjectId('659e9f89f2505e760242cf56'), 'FirstName': 'Saikat', 'LastName': 'Rakshit', 'Qualification': 'BBA', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf57'), 'FirstName': 'Titiksha', 'LastName': 'Das', 'Qualification': 'B.Com', 'age': 20}

In [19]:
# here $lt means less than
# Amd operator and query operator
for record in empinfo.find({'Qualification':'B.Tech','age':{'$lt':21}}):
    print(record)

{'_id': ObjectId('659e9e7bf2505e760242cf54'), 'FirstName': 'Dipayan', 'LastName': 'Majumder', 'Qualification': 'B.Tech', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf55'), 'FirstName': 'Subrata', 'LastName': 'Kundu', 'Qualification': 'B.Tech', 'age': 20}

In [20]:
for record in empinfo.find({'$or':[{'FirstName':'Dipayan'},{'Qualification':'B.Com'}]}):
    print(record)

{'_id': ObjectId('659e9e7bf2505e760242cf54'), 'FirstName': 'Dipayan', 'LastName': 'Majumder', 'Qualification': 'B.Tech', 'age': 20}
{'_id': ObjectId('659e9f89f2505e760242cf57'), 'FirstName': 'Titiksha', 'LastName': 'Das', 'Qualification': 'B.Com', 'age': 20}

In [22]:
for record in empinfo.find({'$and':[{'FirstName':'Dipayan'},{'Qualification':'B.Tech'}]}):
    print(record)

{'_id': ObjectId('659e9e7bf2505e760242cf54'), 'FirstName': 'Dipayan', 'LastName': 'Majumder', 'Qualification': 'B.Tech', 'age': 20}

Create a Another Collection

In [23]:
inventory=mydb.inventory

In [24]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

InsertManyResult([ObjectId('659feb3cf2505e760242cf58'), ObjectId('659feb3cf2505e760242cf59'), ObjectId('659feb3cf2505e760242cf5a'), ObjectId('659feb3cf2505e760242cf5b'), ObjectId('659feb3cf2505e760242cf5c')], acknowledged=True)

In [25]:
for record in inventory.find({'size': { 'h': 8.5, 'w': 11,'uom': "in" }}):
    print(record)

{'_id': ObjectId('659feb3cf2505e760242cf59'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('659feb3cf2505e760242cf5a'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}